.button {
    -fx-background-color: rgba(29, 71, 25, 0);
    -fx-border-color: #000;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: rgba(24, 60, 21, .5);
}

.button:armed {
    -fx-background-color: rgba(24, 60, 21, 1);
}